HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### node modules ###
node_modules/

### Firebase ###
**/firebase-*.json
**/google-services.json
**/GoogleService-Info.plist
**/service-account.json
**/firebase-credentials.json
**/firebase-admin-sdk.json

### Application Properties ###
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
